<div id="home" class="center hero-unit">
  <h1>Welcome to the Indie Music Hub</h1>

  <p> This is the home page where you can find recommended artists.</p>

  <img src="http://evolver.fm/wp-content/uploads/2012/12/coverflow.jpg">
</div>
