<div id="home-content" class="center hero-unit">
  <h1>Welcome to the Indie Music Hub</h1>

  <h2>
    This is the home page for the Indie Music Hub. Now open to new artists and fans!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary move-btn" %>
</div>
