<% provide(:title, 'My Profile') %>
<h1>My Profile</h1>
<p>This is where the user profile will be.</p>
<br>
<br>
<p>This is the users info:</p>
Name: <%=@user.name%> <br>
Email: <%=@user.email%> <br>
<%if @user.role_id == 1%>
Account type: fan <br>
<%elsif @user.role_id == 2%>
Account type: artist <br>
<% end %>