<% provide(:title, 'My Profile') %>
<h1><%=@user.name%></h1>
<p>This is where the user profile will be.</p>
<br>
<br>
<p>This is the users info:</p>
Name: <%=@user.name%> <br>
Email: <%=@user.email%> <br>
Account: <%=@user.role.name%>